html {
    overflow-x: hidden;
    padding: 0px;
    margin: 0px;
    font-family: "Noto Sans", sans-serif;
}

body {
    background-color: gray;
    margin: 0px;
}

header {
    padding: 1rem 2rem 1rem 2rem;
    background-color: white; 
}

.navbar {
    display: flex;
    position: relative;
    height: 3rem;
    align-items: center;
    justify-content: flex-start;
}

nav a {
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 13px;
}

.brand-logo {
    max-height: 2rem;
    padding: 0px 1rem 0px 1rem;
}

.front-page {
    display: block;
}

.front-page img {
    width: 100vw;
    height: 100%;
}