html {
    overflow-x: hidden;
    padding: 0px;
    margin: 0px;
    font-family: "Noto Sans", sans-serif;
}

body {
    background-color: gray;
    margin: 0px;
}

header {
    padding: 1rem 2rem 1rem 2rem;
    background-color: white;
}

.navbar {
    display: flex;
    position: relative;
    height: 3rem;
    align-items: center;
    justify-content: flex-start;
}

nav a {
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 13px;
}

.brand-logo {
    max-height: 2rem;
    padding: 0px 1rem 0px 1rem;
}

.front-page {
    display: block;
}

.front-page img {
    width: 100vw;
    height: 100%;
}

/* PRODUCTS */


.product-heading {
    padding: 1rem;
    text-align: center;
}

.product-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.product-section a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 0.2rem;
}


.snowboard-link, .hard-goods-link, .apparel-link, .accessories-link {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-width: 17rem;
    min-height: 11rem;
    background-position: center;
    background-size: cover;
    margin: 1rem;
    background-size: 100%;
    transition: 0.5s;
}

.snowboard-link {
    background-image: url(assets/snowboards.jpg);
}

.hard-goods-link {
    background-image: url(assets/hardgoods.jpg);
}

.apparel-link {
    background-image: url(assets/apparel.jpg);
}

.accessories-link {
    background-image: url(assets/accessories.jpg);
}

@media (max-width: 1280px) {
    .product-section div:hover {
    background-size: 115%;
}
}

@media (max-width: 600px){
    .product-section {
        flex-direction: column;
    }
    .product-section div:active {
        background-size: 115%;
    }
}


